@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h2{
        @apply text-2xl
    }

    .btn-Data{
        @apply text-xl font-semibold text-[#297933] hover:scale-105 transition-all w-full text-start
        hover:text-[#1d4e29] opacity-85 hover:opacity-100 border-b-2 drop-shadow-sm uppercase h-[8%]
        2xl:text-2xl 2xl:drop-shadow-md 
    }

    h3{
        @apply text-xl uppercase font-bold drop-shadow-2xl border-b-2 border-black/10 w-full h-[7.5%] mb-[2.5%]
        2xl:h-[5%] 2xl:mb-[5%] 2xl:text-2xl
    }

    h5{
        @apply text-[20px] font-thin font-inter
    }

    h4{
        @apply text-[7em] tracking-[.25em] drop-shadow-xl font-bold
    }

    h1{
        @apply text-[12.5em] tracking-[.25em] drop-shadow-xl font-inter font-extrabold bg-red-500 bg-clip-text text-transparent
    }


    .Hero_btn_holder > button{
        @apply p-2 rounded-md min-w-24 px-6 font-inter font-bold text-[16px] bg-white hover:scale-105 transition-all
    }

    .ImageHover:hover{
        --tw-translate-y: -55% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
    }

    .data{
        @apply rounded-md relative flex items-center justify-center opacity-50 hover:opacity-100 hover:scale-105 transition-all
        cursor-pointer
    }

    .data p{
        @apply relative z-10 p-4 px-6 bg-black m-0.5 rounded-sm
    }

    .data2{
        @apply bg-Navy-blue w-full h-full absolute rounded-md opacity-50
    }

    .clip-TV{
        clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
    }
}